{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}
{% block menu_class %}menu_class{% endblock %}

{% block body %}

    <main class="section-container projects-container">
        <div class="content ">
            <h1>{{ project.name }}</h1>

            <div class="project-container">
                <div class="description">
                    {{ project.description|raw }}
                </div>
                <div class="infos">
                    <p>Développé avec : <b>{{ project.technos }}</b> </p>
                    <p>
                        {% if project.weblink %}
                            <a href="{{ project.weblink }}" class="link">Voir le site</a> |
                        {% endif %}
                        {% if project.githublink %}
                            <a href="{{ project.githublink }}" class="link">Voir le github</a>
                        {% endif %}
                    </p>
                </div>
            </div>
            <img src="{{ asset('images/' ~ project.detailPic) }}" class="project-image" alt="image du site" width="800">

        </div>
    </main>

{% endblock %}
