{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}
{% block menu_class %}menu_class{% endblock %}

{% block body %}

    <main class="section-container projects-container">
        <div class="content ">
            <h1>Projets réalisés</h1>
            <div class="projects-list-container">

            <ul class="projects-list">
                {% for project in allProjects %}
                    <li class="project-item">
                        <div class="item-content" style="background-image: url('{{ asset('images/' ~ project.background) }}');">
                            <h3>{{ project.name }}</h3>
                           <div class="infos">
                               <span class="date">{{project.date }}</span>
                               <span class="techno">{{ project.technos }}</span>
                           </div>
                            <div class="links">
                                {%  if project.weblink %}
                                <a href="{{ project.weblink }}" target="_blank" class="see-more" title="Aller sur le site">
{#                                    <img src="{{ asset('images/link.svg') }}" alt="icone github" width="30">#}
                                    Voir le site
                                </a>
                                {% endif %}
                                {%  if project.githublink %}
                                <a href="{{project.githublink}}" target="_blank" class="see-more" title="Répo github">
{#                                    <img src="{{ asset('images/github.svg') }}" alt="icone github" width="30">#}
                                    Github
                                </a>
                                {% endif %}
                                <a href="{{ path('app_projects_details', {id: project.id}) }}" class="see-more"  title="Voir les détails du projet" >
{#                                    <img src="{{ asset('images/lens.svg') }}" alt="icone de loupe" width="30">#}
                                    Détails
                                </a>
                            </div>

                        </div>
                    </li>
                {% endfor %}

                </ul>
            </div>
        </div>
    </main>

{% endblock %}
