<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Sylvain Pillet{% endblock %}</title>
        <link rel="icon" href="#">
{#        <link rel="stylesheet" href="{{asset('css/style.css')}}">#}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>
        <nav class="{{ menu_class|default('default-menu-class') }}">
            <ul>
                <li class="brand"> <a href="{{path('app_home')}}"> <img src="{{ asset('images/logo.png') }}" class="logo" alt="logo" width="40"> </a></li>
                <li><a href="{{path('app_home')}}">Accueil</a></li>
                <li><a href="{{ path('app_projects') }}">Projets</a></li>
                <li><a href="{{ path('app_parcours') }}">Parcours</a></li>
                <li><a href="{{ path('app_about') }}">A propos</a></li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
            <span class="burger">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </nav>
    </header>
    <body class="{{ body_class|default('default-page-class') }}">
        {% block body %}{% endblock %}

    <footer>
        <div class="fonter-container">
            <h1>je suis le fouteur</h1>
        </div>
    </footer>
{#        <script src="../public/js/script.js"></script>#}
{#    <script src="{{ asset('/public/assets/js/script.js') }}"></script>#}

    </body>
</html>
